<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" labelPosition="bottom">
  
  <mat-step [stepControl]="firstFormGroup" label="Customer Details">
    <app-customer-details></app-customer-details>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Customer Address">
    <app-address-details></app-address-details>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Customer Education">
    <app-education-details></app-education-details>
  </mat-step>

  <mat-step [stepControl]="forthFormGroup" label="Customer Profession">
    <app-profession-details></app-profession-details>
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup" label="Customer Mortgage">
    <app-mortgage-details></app-mortgage-details>
  </mat-step>

  <mat-step [stepControl]="sixthFormGroup" label="Account Details">
    <app-customer-account-details></app-customer-account-details>
  </mat-step>

  <mat-step [stepControl]="seventhFormGroup" label="Previous Loan">
    <app-previous-loan-details></app-previous-loan-details>
  </mat-step>

  <mat-step [stepControl]="eightFormGroup" label="Property Details">
    <app-property-details></app-property-details>
  </mat-step>

  <mat-step [stepControl]="ninthFormGroup" label="Customer Documents Upload">
    <!-- <app-all-personal-documents-details></app-all-personal-documents-details> -->
    <app-all-documents-upload></app-all-documents-upload>
  </mat-step>
  
  <!-- <mat-step [stepControl]="tenthFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    <h2>Successfully Submit.</h2>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    </div>
  </mat-step> -->
</mat-stepper>