<body>
  <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
     <div class="col-xl-11 col-lg-8 col-md-9 col-3 text-center">
      <div class="card">
<form class="form-card" [formGroup]="educationDetails" (ngSubmit)="onSubmit()">
    <h1 class="text-center mb-10">Fill out your Education Details</h1>

    <div class="form-group row justify-content-between text-left">
      <div class="col-sm-4 flex-column d-flex">
            <label class="form-control-label px-3">Enter Your Specialization <span class="text-danger"> *</span></label>
            <input matInput formControlName="educationalSpecialization" placeholder="Enter your Specialization">
      </div>
        
      <div class="col-sm-4 flex-column d-flex">
            <label class="form-control-label px-3">Enter your passing <span class="text-danger"> *</span></label>
            <input matInput formControlName="passingYear" placeholder="Enter your passing year">
      </div>
      
      <div class="col-sm-4 flex-column d-flex">
            <label class="form-control-label px-3">Enter your qualification <span class="text-danger"> *</span></label>
            <input matInput formControlName="qualification" placeholder="enter your qualification">
      </div>
        
    </div>
<div>
    <button mat-button matStepperPrevious class="btn-block btn-primary" color="primary">Back</button>
    <button mat-raised-button class="btn-block btn-primary" color="primary" mat-button matStepperNext>Next</button>
  </div>

</form>