<div class="container">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title" style="font-weight: bold;">Raise Service Requests</h1>
              <p class="card-text">Raise Service Request to avail various services offered by us.</p>
              <a href="#" class="btn btn-primary">Raise Service Request</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title" style="font-weight: bold;">Contact Customer Care</h1>
              <p class="card-text">
                Contact Customer Care
                To contact UIBS Bank’s Customer Care, use the contact details updated here.</p>
              <h5 class="card-text">
                Please do not use the contact details updated
                on any other website as it can be fake and
                 may risk your account security.
              </h5>
              <a href="#" class="btn btn-primary" >Contact Customer Care</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title" style="font-weight: bold;">Write to us</h1>
                <p>You can write to us at:</p>
                <p class="card-text" style="font-weight: bold;">UIBS Bank Limited <br>
                    ICICI Phone Banking Center.</p>
                <p class="card-text" style="font-weight: bold;">
                    ICICI Bank Tower. 7th floor. Survey <br>
                    no: 115/27. Plot no. 12. <br>
                    Nanakramguda, Serilingampally. <br>
                    Hyderabad - 500032
                </p>
                
              </div>
            </div>
        </div>

        <div class="container " style="margin-top: 60px;">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title" style="font-weight: bold;">Registered Office</h1>
                    <p>You can write to us at:</p>
                    <p class="card-text" style="font-weight: bold;">CICI Bank Tower, <br>
                        Near Chakli Circle, Old Padra Road, <br> Vadodara 390007, Gujarat, India.</p>
                    <p class="card-text">Tel : 1800 1080 </p>

                    <p class="card-text">CIN : L65190GJ1994PLC021012</p>
                    
                </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h1 class="card-title" style="font-weight: bold;">Corporate Office</h1>
                    <p class="card-text">ICICI Bank Towers, <br>
                       Bandra-Kurla Complex, Mumbai 400 051.</p>
                       <p class="card-text">Tel : 1800 1080 </p>

                       <p class="card-text">Fax : +91-22-26531122 </p>
                    
                    
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
