.tbl {
    border-collapse: collapse;
    margin-left: 5px;
  }
  
  th{
    background-color: #aaccd8;
    border: 1px solid black; /* Adjust border color and width as needed */
    padding: 8px; /* Adjust padding as needed */
    text-align: center;
  }

  td{
    border: 1px solid black; /* Adjust border color and width as needed */
    padding: 8px; /* Adjust padding as needed */

  }